        </div>
        <div class="secondary">
          <h2>Our Products</h2>
          <ul>
            {% for category in site.categories %}
              <li>
                <a href="{{ relative }}products/{{ category[0] | downcase | replace: ' ', '-' }}" title="{{ category[0] | capitalize }}">{{ category[0] | capitalize }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <footer class="site-footer" role="contentinfo">
        <div>
          <p>
            <a class="nav-home" href="{{ relative }}">Home</a> | 
            <a class="nav-about" href="{{ relative }}about/">About</a> | 
            <a class="nav-products" href="{{ relative }}products/">Products</a> | 
            <a class="nav-contact" href="{{ relative }}contact/">Contact</a>
          </p>
        <div>
      </footer>
    </div>
  </body>
</html>
